{% extends 'Plitter::html_skel' %}

{% block Content %}
<form class="form-horizontal" action="{{ app.request.baseUrl }}/blog/posts" method="POST" id="new_post">
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="username" id="username" maxlength="60">
    </div>
  </div>

  <div class="form-group">
    <label for="body" class="col-sm-2 control-label">Text</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="body" id="body" rows="5"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
